<app-layout>
  <ng-container *ngIf="job$ | async as job">
    <section class="job">
      <header class="job__header">
        <div
          class="job__img-container"
          [ngStyle]="{ 'background-color': job.logoBackground }"
        >
          <img src="{{ job.logo }}" alt="{{ job.company }}" class="job__img" />
          <job-application-notation
            *ngIf="job.isApplied"
          ></job-application-notation>
        </div>
        <div class="job__company-container">
          <h2 class="job__company">{{ job.company }}</h2>
          <a href="{{ job.website }}" target="_blank" class="job__website"
            >{{ job.company }}.com</a
          >
          <button *ngIf="job.id > 15" (click)="deleteJob(job.id)" class="job__delete-btn">Delete Position</button>
        </div>
        <!--        <button class="job__button job__website-button">Company Site</button>-->
        <div class="button-container">
          <button
            *ngIf="job.id > 1"
            (click)="lastJob(job.id)"
            class="round-button round-button__back"
          ></button>
          <button
            (click)="nextJob(job.id)"
            class="round-button round-button__next"
          ></button>
        </div>
      </header>

      <div class="job__position-container container">
        <div class="job__position">
          <p class="job__postedAt">{{ job.postedAt }}</p>
          <h2 class="job__position-title">{{ job.position }}</h2>
          <div class="job__location-container">
            <p class="job__location">{{ job.location }}</p>


              <div class="job__contract-container">
                <img *ngIf="job.contract === 'Full Time'; else partTime"
                     src="./assets/images/fulltime.svg"
                     alt="full time"
                     class="job__contract-image"
                />
                <ng-template #partTime>
                  <img
                    src="./assets/images/parttime.svg"
                    alt="full time"
                    class="job__contract-image"
                  />
                </ng-template>
                <p class="job__contract">
                  {{ job.contract }}
                </p>
              </div>

          </div>
          <p class="job__text">{{ job.description }}</p>
        </div>

        <button
          *ngIf="job.isApplied; else couldApply"
          class="job__button job__apply-button"
          (click)="apply(job.id, job.isApplied!)"
        >
          Cancel
        </button>
        <ng-template #couldApply>
          <button
            class="job__button job__apply-button"
            (click)="apply(job.id, job.isApplied!)"
          >
            Apply
          </button>
        </ng-template>
      </div>

      <job-details-box
        [title]="'Requirements'"
        [content]="job.requirements.content"
        [items]="job.requirements.items"
      ></job-details-box>

      <job-details-box
        [title]="'Role'"
        [content]="job.role.content"
        [items]="job.role.items"
      ></job-details-box>
    </section>
  </ng-container>
</app-layout>
