.actions {
  background-color: #fff;
  height: 56px;
  box-shadow: 0 1px #e2e2e2;
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.back {
  font-size: 12px;
  color: #535353;
}

.logout {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding: 2px 15px;
  border-radius: 4px;

  &:hover {
    background-color: #faf7f2;
  }
}

.username {
  margin-left: auto;
}
