<ng-container>
<img src="./assets/images/home.jpg" alt="bg" class="background-image">
<div class="form-container">
  <img src="./assets/images/job-logo-black-md.svg" alt="logo_black" class="logo">
  <h1 class="form__title">Login</h1>
  <form action="" class="form">
    <input type="text" class="form__input" placeholder="Enter your Email">
    <input type="text" class="form__input" placeholder="Enter password">
    <button class="form__button" [routerLink]="'/jobs'">LOGIN</button>
  </form>
</div>
</ng-container>

