<app-layout>
  <section class="form__container">
    <h2 class="form__title">Please fill out the form</h2>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <job-input
        [type]="'text'"
        [placeholder]="'Enter Company Name'"
        [inputName]="'company'"
        [formControlName]="'company'"
        [validators]="inputValidators"
      ></job-input>
      <job-input
        [type]="'text'"
        [placeholder]="'Enter Position Name'"
        [inputName]="'position'"
        [formControlName]="'position'"
        [validators]="inputValidators"
      ></job-input
      ><job-input
        [type]="'text'"
        [placeholder]="'Enter Company Web Address'"
        [inputName]="'website'"
        [formControlName]="'website'"
        [validators]="inputValidators"
      ></job-input
      ><job-input
        [type]="'text'"
        [placeholder]="'Enter location'"
        [inputName]="'location'"
        [formControlName]="'location'"
        [validators]="inputValidators"
      ></job-input
      ><job-input
        [type]="'text'"
        [placeholder]="'Enter website'"
        [inputName]="'website'"
        [formControlName]="'website'"
        [validators]="inputValidators"
      ></job-input
      >
      <textarea placeholder="Description" [formControlName]="'description'"
      ></textarea>
      <textarea placeholder="Requirements" [formControlName]="'requirements'"
      ></textarea>
      <textarea placeholder="Role" [formControlName]="'role'"
      ></textarea>
      <button
        class="form__button"
        [disabled]="formGroup.invalid"
        [ngClass]="formGroup.invalid ? 'form__button-disabled' : ''"
      >
        LOGIN
      </button>
    </form>
  </section>
</app-layout>
